<div class="home-box">
	<div class="login-box">
		<img class="login-img" src="assets/images/login.jpg"><br><br>
		<h3>Login</h3>
					<form [formGroup]="loginForm" name="login">
                        <div class="input-group">
                          <input type="email" class="form-control" name="login-email" formControlName="email" placeholder="Email">
                         
                        </div>
                         <p *ngIf="loginForm.controls.email.dirty && loginForm.controls.email.invalid" class="validation-error text-danger">Enter a valid email address</p>

                        <div class="input-group">
                          <input type="password" class="form-control" name="login-password" formControlName="password" placeholder="Password">
                          
                        </div>
                        <p *ngIf="loginForm.controls.password.dirty && loginForm.controls.password.invalid" class="validation-error text-danger">Enter a password</p>
                          <div class="btn-wrapper">
                            <button type="button" class=" btn bttn-fill-dark" (click)="login()">LOGIN</button>
                          </div>
                      </form>
	</div>
</div>