<nav class="navbar navbar-expand-lg myColor">
  <a class="navbar-brand" *ngIf="!loggedIn" routerLink="/">User Management System</a>
    <a class="navbar-brand" *ngIf="loggedIn" routerLink="/dashboard">User Management System</a>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item active">
        <a *ngIf="!loggedIn" class="nav-link" routerLink="/">Home<span class="sr-only">(current)</span></a>
        <a *ngIf="loggedIn" class="nav-link" routerLink="/dashboard">Dashboard<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a *ngIf="!loggedIn" class="nav-link" routerLink="/register">Register</a>
        <a *ngIf="loggedIn" class="nav-link" href="javascript:void" (click)="logout()">Logout</a>
      </li>
      
    </ul>
  </div>
</nav>