<app-header></app-header>
<div class="body-back">
	<div class="myContainer">
		<router-outlet></router-outlet>
	</div>
</div>
<div class="w-100">
	<app-footer></app-footer>
	<ng4-loading-spinner> </ng4-loading-spinner>
</div>

