<div class="dash-box">
	<div class="inner-box">
		<h2>Hi {{userDetails.name}}</h2>
		<h3>You are the {{userDetails.role}} and your account is {{userDetails.approval}}</h3>
		<br><br>
		<a *ngIf="userDetails.role=='Admin'" routerLink="/userList/1" class="btn btn-success">View User List</a>
	</div>
</div>
