<div class="dash-box">
	<div *ngIf="userDetails.approval=='approved'&&userDetails.role=='Admin'" class="inner-box">
		<h2>User List</h2>
		<h3>Page {{userList[0]['current_page']}} of {{userList[0]['last_page']}} (Max. {{userList[0]['per_page']}} enteries per page)</h3>
		<table class="table">
			<thead>
				<tr>
					<th>S.No.</th>
					<th>Name</th>
					<th>Email</th>
					<th>Role</th>
					<th>Switch Role</th>
					<th>Approval</th>
					<th>Update Details</th>
					<th>Delete</th>
				</tr>
			</thead>
			<tbody>
				<tr *ngFor="let singleUser of userList[0]['data']; index as i">
					<td>{{i+1}}</td>
					<td>{{singleUser.name}}</td>
					<td>{{singleUser.email}}</td>
					<td *ngIf="singleUser.admin_role">Administrator</td>
					<td *ngIf="!singleUser.admin_role">Normal User</td>
					<td><a (click)="switchRole(singleUser.id)" class="btn btn-success">Switch</a></td>
					<td *ngIf="singleUser.approved"><a class="btn btn-warning" (click)="disapproveUser(singleUser.id)">Disapprove</a></td>
					<td *ngIf="!singleUser.approved"><a class="btn btn-success" (click)="approveUser(singleUser.id)" >Approve</a></td>
					<td><a class="btn" style="background-color: yellow;" routerLink="../../updateUser/{{singleUser.id}}" >Update</a></td>
					<td><a class="btn" (click)=deleteUser(singleUser.id) style="background-color: red; color: white;">Delete</a></td>
				</tr>
			</tbody>
		</table>
		<br><br>
		<a *ngIf="userList[0]['current_page']>1" class="btn" style="background-color: orange;" routerLink="../../userList/{{userList[0]['current_page']-1}}" (click)=prevList()>Previous</a>
		<a *ngIf="userList[0]['last_page']>userList[0]['current_page']"  class="btn" routerLink="../../userList/{{userList[0]['current_page']+1}}" style="background-color: orange;" (click)=nextList()>Next</a>
	</div>
	<div *ngIf="userDetails.approval!='approved'||userDetails.role!='Admin'" class="inner-box">
		<h2>{{userList.message}} since you are a normal user</h2>
	</div>
	<div *ngIf="userDetails.approval!='approved'&&userDetails.role=='Admin'" class="inner-box">
		<p><b style="color: red;">Note : Ask super admin to approve you for making changes!</b></p>
		<h2>User List</h2>
		<h3>Page {{userList[0]['current_page']}} of {{userList[0]['last_page']}} (Max. {{userList[0]['per_page']}} enteries per page)</h3>
		<table class="table">
			<thead>
				<tr>
					<th>S.No.</th>
					<th>Name</th>
					<th>Email</th>
					<th>Role</th>
				</tr>
			</thead>
			<tbody>
				<tr *ngFor="let singleUser of userList[0]['data']; index as i">
					<td>{{i+1}}</td>
					<td>{{singleUser.name}}</td>
					<td>{{singleUser.email}}</td>
					<td *ngIf="userDetails.role=='Admin'">Administrator</td>
					<td *ngIf="userDetails.role!='Admin'">Normal User</td>
				</tr>
			</tbody>
		</table>
		<br><br>
		<a href="#" onclick="return false;" *ngIf="userList[0]['current_page']>1" class="btn" style="background-color: orange;"  (click)=prevList>Previous</a>
		<a href="#" onclick="return false;" *ngIf="userList[0]['last_page']>userList[0]['current_page']"  class="btn" style="background-color: orange;" (click)=nextList>Next</a>
	</div>
</div>
