.dash-box{

	width: 80%;
	min-height: 500px;
	background-color: white;
	margin: auto;
}

.inner-box{
	padding: 20px;
	text-align: center;
	padding-top: 40px;


}
.bttn-fill-dark{
	background: #ad1d06;
	padding-top: 5px;
	padding-left: 20px;
	padding-right: 20px;
	border-radius: 0px;
	color: white;
}
.btn-wrapper{
	padding-top: 20px;
	padding-bottom: 20px;
}