/* You can add global styles to this file, and also import other style files */
@font-face {
  src: url('/assets/fonts/MPLUS1p-Light.ttf');
  font-family: 'MPlusLight';
}
@font-face {
  src: url('/assets/fonts/Berthold.otf');
  font-family: 'Berthold';
}
@font-face {
  src: url('/assets/fonts/MPLUS1p-Regular.ttf');
  font-family: 'MPlusRegular';
}
@font-face {
  src: url('/assets/fonts/MPLUS1p-Medium.ttf');
  font-family: 'MPlusMedium';
}

@font-face {
  src: url('/assets/fonts/MPLUS1p-Bold.ttf');
  font-family: 'MPlusBold';
}

body{
  font-family: 'Berthold';
}

.body-back{
  background-image: url('/assets/images/business.jpg');
  background-size: contain;
  min-height: 510px;
}