.home-box{
	padding: 20px;
}
.login-box{
	background: #dddcdb;
	min-height: 200px;
	width: 30%;
	margin: auto;
	text-align: center;
	-webkit-box-shadow: 0 3px 5px rgba(57, 63, 72, 0.3);
  	-moz-box-shadow: 0 3px 5px rgba(57, 63, 72, 0.3);
  	box-shadow: 0 3px 5px rgba(57, 63, 72, 0.3); 
  	padding-left: 20px;
  	padding-right: 20px;
}
.login-img{
	width: 200px;
	margin: auto;
}
.bttn-fill-dark{
	background: #ad1d06;
	padding-top: 5px;
	padding-left: 20px;
	padding-right: 20px;
	border-radius: 0px;
	color: white;
}
.btn-wrapper{
	padding-top: 20px;
	padding-bottom: 20px;
}