<div class="home-box">
	<div class="login-box">
		<img class="login-img" src="assets/images/login.jpg"><br><br>
		<h3>Register</h3>
					<form [formGroup]="registerForm" name="registerForm">
                          <div class="input-group">
                            <input type="name" class="form-control" name="register-name" formControlName="name" placeholder="Name">
                            
                          </div>
                          <p *ngIf="registerForm.controls.name.dirty && registerForm.controls.name.invalid" class="validation-error text-danger">Enter a name</p>
                          <div class="input-group">
                            <input type="email" class="form-control" name="register-email" formControlName="email" placeholder="Email">
                            
                          </div>
                          <p *ngIf="registerForm.controls.email.dirty && registerForm.controls.email.invalid" class="validation-error text-danger">Enter a valid email address</p>
                          <div class="input-group">
                            <input type="password" class="form-control" name="register-password" formControlName="password" placeholder="Password">
                           
                          </div>
                           <p *ngIf="registerForm.controls.password.dirty && registerForm.controls.password.invalid" class="validation-error text-danger">Password length should be 6 - 15</p>
                          <div class="input-group">
                            <input type="password" class="form-control" name="register-cnfrmPassword" formControlName="cnfrmPassword" placeholder="Confirm password">
                           
                          </div>
                           <p *ngIf="isInvalid" class="validation-error text-danger">Password doesnt match</p>
                          <div class="btn-wrapper">
                            <button id="register" class="btn bttn-fill-dark" (click)="register()">REGISTER</button>
                          </div>

                       <p *ngIf="message" style="color: green;" >{{message}}</p>
                      </form>
	</div>
</div>